// Here you can add other styles
.c-header.c-header-fixed {
    top: 0px;
}

.click-file {
    cursor: pointer;
}

.c-sidebar-brand-full {
    width: 100%;
}

.form-control {
    color: #5e5e5e;
}

.alert {
    position: fixed;
    z-index: 10000;
    right: 10px;
    top: 10px;
}